.cache/*

*.tags
*.i
vim/.vim/.netrwhist
cache.db
cache.db.lock

vim/.vim/pack/hitags/start/hitags/cache/*

*.sqlite
python/.ipython/profile_default/startup/README

rss/.newsboat/history.cmdline
rss/.newsboat/history.search
rss/.newsboat/urls

Wallpaper/
Wallpaper_1_/

vim/.peru/
