#!/bin/bash
HISTCONTROL=erasedups			# remove duplicates
shopt -s histappend				# append to the history file, don't overwrite it
shopt -s lithist				# save multiline commands with embeded newlines
HISTSIZE=10000
HISTFILESIZE=20000
HISTTIMEFORMAT='%y/%m/%d %T: '
HISTFILE="${MM}/Bash/History/.bash_history"
PROMPT_COMMAND="\history -a;$PROMPT_COMMAND"
