#!/bin/bash
export PATH="$PATH:."
export PATH="${PATH}:~/go/bin/:~/.cargo/bin/:${MM}/bin"

export MM="/home/anon/Master"

export MKTEMPLATE_HOME="${MM}/Templates/mktemplate_home/"
export QCKSWP_SAVES="${MM}/Qckswp/.qckswp.csv"

	# array of essential files
export ESSENTIALS=(
					"${MM}/pufka/pufka.cdd" 
					"${MM}/Personal/quotes.txt"
					"${MM}/Personal/Notes/jelszo"
					"${MM}/Peak/peak.cdd"
					"${MM}/s/процесс.log"
					)

	# array of personal config files/directories
export RCCONFIG=(
				"${MM}/Bash/Bashrc/"
				"${MM}/Vim/Vimrc/"
				"${MM}/Tmux/Tmuxrc/.tmux.conf"
				"${MM}/ImageBoards/Storage/"
				"${MM}/Personal/Wallpaper/"
				"$MKTEMPLATE_HOME"
				"$QCKSWP_SAVES"
				"$LISTAHOME"
				"${MM}/Fonts/figlet-fonts/"
				)

	# start page for lynx and possibly other browsers
export WWW_HOME="${HOME}/lynx_bookmarks.html"
