#!/bin/bash
## Favourites ##
	export FAVCOL="yellow"
	export SECCOL="blue"
	export FAVCOLESC="\033[33m"
	export SECCOLESC="\033[38;5;245m"
	export FAVCOLNUM="3"
	export SECCOLNUM="245"
	export FAVCHAR="♝"

function getGit(){
	! [ -d "${PWD}/.git" ] && return
	G=$(git status)
	[ "$?" != "0" ] && return
	B=$(echo "$G" | head -1 | cut -d ' ' -f 3)
	D=$(echo "$G" | grep "deleted:" | wc -l)
	M=$(echo "$G" | grep "modified:" | wc -l)
	printf "Branch: %s Del: %s Mod: %s" $B $D $M
}

export PS1="\[${FAVCOLESC}\]...$(getGit)\[\033[0m\] "
