#!/bin/bash
## Favourites ##
	export FAVCOL="blue"
	export SECCOL="green"
	export FAVCOLESC="\033[34m"
	export SECCOLESC="\033[32m"
	export FAVCOLNUM="4"
	export SECCOLNUM="2"
	export FAVCHAR="⛂"

export PS1="\[\033[1m${FAVCOLESC}\]C:${PWD//\//\\\\}>\033[0m"
export PS2="$FAVCOLESC  ${FAVCHAR}\[\033[0m\]     "
