#!/bin/bash
## Favourites ##
	export FAVCOL="white"
	export SECCOL="grey"
	export FAVCOLESC="\033[1m"
	export SECCOLESC="\033[38;5;245m"
	export FAVCOLNUM="15"
	export SECCOLNUM="245"
	export FAVCHAR="♟"

export PS1="\[\033[1m\]$\[\033[0m\] "
export PS2="\[${SECCOLESC}\]> \[\033[0m\]"
