[ "$USER" == "anon" ] && return

if [ "$USER" == "root" ]; then
	printf "${FAVCOLESC}
	    ()    
	 .-:--:-. 
	  \____/  
	  {====}  
	   )__(   
	  /____\  
	   |  |   
	   |  |   
	   |  |   
	   |  |   
	  /____\  
	 (======) 
	 }======{ 
	(________)
	          
\033[0m"
	return
fi

neofetch
