#!/bin/bash
## Favourites ##
	export FAVCOL="green"
	export SECCOL="blue"
	export FAVCOLESC="\033[32m"
	export SECCOLESC="\033[34m"
	export FAVCOLNUM="2"
	export SECCOLNUM="4"
	export FAVCHAR="♞"

case $MACHINE_NAME in
	BATTLESTATION)
		prompt_color="\[${FAVCOLESC}\]"
		info_color="\[${SECCOLESC}\]"
		BOLD="\[\033[1m\]"
		NORMAL="\[\033[0m\]"
		export PS1="$prompt_color┌──${BOLD}(${info_color}---${prompt_color}){${info_color}\u${FAVCHAR}\h${prompt_color}${BOLD}}${NORMAL}${prompt_color}@${BOLD}[${info_color}\w${prompt_color}]${NORMAL}\n"
		export PS1+="${prompt_color}└<${info_color}${BOLD}\$${NORMAL} "
		export PS2="${prompt_color} >\[\033[0m\]"
		unset color_prompt info_color BOLD NORMAL
		;;
	SCOUT)
		#prompt_color="\[\033[31;1m\]"
		#PS1="$prompt_color #:\[\033[0m\] "
		#PS2="$prompt_color  >\[\033[0m\]     "
		prompt_color="\[\033[1m${FAVCOLESC}\]"
		PS1="$prompt_color ─▶\[\033[0m\] "
		PS2="$prompt_color  >\[\033[0m\]     "
		unset color_prompt
		;;
esac
